ul {
  list-style: none;
  padding: 0;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover,
a:active {
    color: #000;
    text-decoration: none;
}

.zoom {
  transition: transform .2s;
}

.zoom:hover {
  transform: scale(1.03);
}
