ul {
  list-style: none;
  padding: 0;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover,
a:active {
    color: #000;
    text-decoration: none;
}

.zoom {
  transition: transform .2s;
}

.zoom:hover {
  transform: scale(1.03);
}

.apply {
  --bs-btn-bg: #DDDDFF;
  --bs-btn-border-color: #DDDDFF;
  --bs-btn-border-radius: .5rem;
  --bs-btn-hover-bg: #CCCCFF;
  --bs-btn-hover-border-color: #CCCCFF;
}
